<tr id="employee_<%= employee.id %>">
  <td id="name_column_<%= employee.id %>"><%= employee.name.titleize %></td>
  <td id="surname_column"><%= employee.surname.titleize %></td>
  <td id="payroll_column"><%= employee.payroll %></td>
  <td id="role"><%= employee.role.upcase %></td>

   
  <!-- <td><%#= employee.telephone %></td> -->
  <% if employee.clocked_in == false %>
    <td class="text-center" id="<%= employee.id %>"><%= form_for(employee, :method => :put, remote: true) do |f| %>
              <%= f.check_box :clocked_in, onclick: "checkInChange(this)" %>      
              <%= f.hidden_field :clocked_at, :value => Time.current %>   <!-- + 3600 -->
    <% end %></td>
   <!--  <td><%#= employee.clocked_at = "" %></td>  -->
    
  <% elsif employee.clocked_in == true %>
     <td class="text-center" id="<%= employee.id %>"><%= form_for(employee, :method => :put, remote: true) do |f| %>
              <%= f.check_box :clocked_in, onclick: "checkInChange(this)"  %>  <%#= f.check_box :clocked_in, onclick: "checkInChange(this)"  %>
              <%= f.hidden_field :clocked_at, :value => nil %>
              <%#= f.hidden_field :clocked_at, :value => """" %> 
    <% end %></td>

  <!-- <td><%#= employee.updated_at.strftime('%H:%M') %></td>  -->

 
  <% end %>
<td><%= employee.clocked_at == nil ? "" : employee.clocked_at.strftime('%H:%M') %></td>

  <!-- <td><%#= employee.status.titleize %></td> -->
    
 <!--  <td><%#= employee.clocked_at == nil ? "" : employee.clocked_at.strftime('%H:%M') %></td>  -->

  <td><%= link_to 'Show', employee %></td>
  <td><%= link_to 'Edit', edit_employee_path(employee), remote: true, id: "editEmployeelink" %></td> 
  <!-- <td><%#= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
</tr>


