<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

  <div class="field">
    <%= form.label :payroll %>
    <%= form.number_field :payroll %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.number_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Employee.statuses.keys.map {|status| [status.upcase, status]} %>
  </div>

  <div class="field">
    <%= form.label :clocked_at %>
    <%= form.number_field :clocked_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
