<div class="card formCard mt-5 mb-5">
  <div class="card-body">
    <div clas='formContainer'>
      <%= form_with(model: @employee, remote: true) do |form| %>
        <% if @employee.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

            <ul>
              <% @employee.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group col-md-12 mb-3">
          <%= form.label :name, :class => "col-sm-2" %>
          <%= form.text_field :name, :class => "col-sm-6" %>
        </div>

        <div class="form-group col-md-12 mb-3">
          <%= form.label :surname, :class => "col-sm-2" %>
          <%= form.text_field :surname, :class => "col-sm-6 "  %>
        </div>

        <div class="form-group col-md-12 mb-3">
          <%= form.label :role, :class => "col-sm-2" %>
          <%= form.text_field :role, :class => "col-sm-6"  %>
        </div>

        <div class="form-group col-md-12 mb-3">
          <%= form.label :payroll, :class => "col-sm-2" %>
          <%= form.number_field :payroll, :class => "col-sm-6"  %>
        </div>

        <div class="form-group col-md-12 mb-3">
          <%= form.label :telephone, :class => "col-sm-2" %>
          <%= form.number_field :telephone, :class => "col-sm-6"  %>
        </div>

        <div class="form-group col-md-12 mb-3">
          <%= form.label :clocked_in, :class => "col-sm-2" %>
          <% if @employee.clocked_in == false  %>
            <%= form.check_box :clocked_in, :class => "col-sm-6" %>      
            <%= form.hidden_field :clocked_at, :value => Time.now %>
          <% elsif @employee.clocked_in == true %>
            <%= form.check_box :clocked_in, :class => "col-sm-6" %>
            <%= form.hidden_field :clocked_at, :value => nil %>
          <% end %>
        </div>
          <%#= form.label :clocked_in, :class => "col-sm-2 send-name" %>
          <%#= form.check_box :clocked_in, :class => "col-sm-6 sender-name"  %>  

        <div class="form-group col-md-12 mb-3">
          <%= form.label :status, :class => "col-sm-2" %>
          <%= form.select :status, Employee.statuses.keys.map {|status| [status.upcase, status]}, :class => "col-sm-6 "  %>
        </div>

        <div class="formbuttons row col-12 justify-content-center"> 
          <div class="col-5 actions my-5 justify-content-center">
            <%= form.submit :class => "submitButton text-center" %>
          </div>
          <div class="col-5 actions my-5 ml-4 justify-content-center">
            <%= link_to "Cancel", :back, :class => "cancelButton text-center "  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

