<!-- <div class="notice text-center my-5"> -->
 <!--  <p id="notice noticeIndex "><%= notice %></p>  -->

<%= render 'layouts/flash_notice_alert' %>


<!-- </div> -->

 

<h1 class="contractorsTitle">Temps Attendance</h1>

<!-- <H3 class="contractorsTitle">Date : <%#= @employee.first.created_at.DateTime.now.strftime('%m - %B- %y')%> </H3>  -->

<h4 class="contractorsTitle mt-3"><%= @employees.present? ? @employees.first.created_at.strftime('%d - %B- %Y') : "" %> </h4> 
<hr class="my-5">
<h3 class="text-center mb-4">Instructions</h3>
<div class="d-flex justify-content-center mt-4">
  <input type="checkbox" class="AvGamesCheckBox hideShowInstructions" name="vehicle1" value="Bike">

  <label for="vehicle1"> Hide / Show  Instructions</label>
</div> 
<hr>

<div class="row col-12 marginInstructions justify-content-center instructions">
  <div class="card col-5">
    
    <div class="card-body">
      <h5 class="card-title">Import Contractors</h5>
      <p class="card-text"> Click the Browse button to select the spreadsheet you wich to import. Once selected click on the Import button. Done!</p>
      <div class="row my-4">
        <%= form_tag import_employees_path, multipart: true do %>
          <%= file_field_tag :file %>
           
            <%= submit_tag "Import Contractors", :class => "import mt-4" %>
          
        <% end %>
        <%#= link_to 'Destroy', remove_all, data: { confirm: 'Are you sure?' } %>
        <%#= link_to 'Destroy', @employees, method: :remove_all, data: { confirm: 'Are you sure?' } %>

       
      </div>
    </div>
  </div>

  <div class="card col-5 separate block1">
    <div class="card-body">
      <h5 class="card-title">Export Checked in Contractors</h5>
      <p class="card-text"> To export this file as a spreadsheet click on the Excel link. Done!</p>
      <div class="my-4">
        Download:
        <%= link_to "Excel", employees_path(format: "xls") %>
      </div>
      <p class="card-text"> After you dowload the Temps Attendance as Excel file you can delete it and upload a new one when needed. Simply click the link below. </p>
       <%= link_to 'Delete List', {:action => :remove_all}, :method => :delete , data: { confirm: 'Are you sure?' }, :class => "mt-4" %>
    
    </div>
  </div>
</div>


<hr class="my-5">

<h3 class="text-center mb-4">Clocked in - Stats</h3>
<div class="d-flex justify-content-center mt-4 ">
  <div class="card col-3 ml-5 production">
    <h5 class= "py-3 text-center">Total Production: <%= @employees.where({role: "BOOKED", clocked_in: true}).count + @employees.where({role: "REPLENISHER", clocked_in: true}).count + @employees.where({role: "BOOKED NEW", clocked_in: true}).count%>/<%= @employees.where({role: "BOOKED"}).count + @employees.where({role: "REPLENISHER"}).count + @employees.where({role: "BOOKED NEW"}).count %></h5>
  </div>
</div>
  <!-- <div class="d-flex justify-content-center mt-4">
  <input type="checkbox" class="AvGamesCheckBox hideShowInstructions" name="vehicle1" value="Bike">

  <label for="vehicle1"> Show / Hide Stats</label>
</div> 
 -->
<!-- 
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-primary hideShowStats" id="hideShowStats">Hide Stats</button>
</div> -->

<div class="information">
  <div class="row col-12 separate-top justify-content-center ">

     <div class="card col-3 ml-5">
      <h5 class= "py-3 text-center">Total Booked: <%= @employees.where({role: "BOOKED", clocked_in: true}).count %>/<%= @employees.where({role: "BOOKED"}).count %></h5>
    </div>
    <div class="card col-3 ml-5 ">
      <h5 class= "py-3 text-center">Total Replenisher: <%= @employees.where({role: "REPLENISHER", clocked_in: true}).count %>/<%= @employees.where({role: "REPLENISHER"}).count %></h5>
    </div>
   <div class="card col-3 ml-5">
      <h5 class= "py-3 text-center">Total AM New Starters: <%= @employees.where({role: "BOOKED NEW", clocked_in: true}).count %>/<%= @employees.where({role: "BOOKED NEW"}).count %></h5>
    </div>

  </div> 


  <div class="row col-12 separate-top2 justify-content-center">
    <div class="card col-3 ml-5">
      <h5 class= "py-3 text-center"> Total Stock Coordinators: <%= @employees.where({role: "STOCK COORDINATOR", clocked_in: true}).count %>/<%= @employees.where({role: "STOCK COORDINATOR"}).count %></h5>
    </div>
    <div class="card col-3 ml-5">
      <h5 class= "py-3 text-center"> Total Hygine/Sani: <%= @employees.where({role: "HYGIENE/SANI", clocked_in: true}).count %>/<%= @employees.where({role: "HYGIENE/SANI"}).count %></h5>
    </div> 
    <div class="card col-3 ml-5">
      <h5 class= "py-3 text-center">  Total Covid Champions: <%= @employees.where({role: "COVID CHAMPION", clocked_in: true}).count %>/<%= @employees.where({role: "COVID CHAMPION"}).count %></h5>
    </div>
  </div>

 <div class="row col-12 separate-top2 justify-content-center">
  <div class="card col-3 ml-5">
    <h5 class= "py-3 text-center">Total Warehouse & ICE: <%= @employees.where({role: "WAREHOUSE STAFF", clocked_in: true}).count +  @employees.where({role: "Ice", clocked_in: true}).count %>/<%= @employees.where({role: "WAREHOUSE STAFF"}).count +  @employees.where({role: "Ice"}).count %></h5>
  </div>    
  <div class="card col-3 ml-5">
    <h5 class= "py-3 text-center">Total Supertemps: <%= @employees.where({role: "SUPERTEMP", clocked_in: true}).count %>/<%= @employees.where({role: "SUPERTEMP"}).count %></h5>
  </div>
  <div class="card col-3 ml-5">
    <h5 class= "py-3 text-center">  Total Office-Admin: <%= @employees.where({role: "AM OFFICE", clocked_in: true}).count %>/<%= @employees.where({role: "AM OFFICE"}).count %></h5>
  </div>
</div>

<div class="row col-12 separate-top2 justify-content-center">
  <div class="card col-3 ml-5">
    <h5 class= "py-3 text-center"> Total Clocked In: <%= @employees.where({clocked_in: true}).count %> </h5>
  </div>
</div>

</div>
  <%#= @employees.where({role: "Supertemp", clocked_in: true}).count %>
<hr class='my-5' id=' linkEmployee'>

<div class="tablesideSpaces"> 
  <div class="marginBottom">
    <%= link_to 'New Employee', new_employee_path, id: "new_link", remote: true %>
  </div> 

<!-- <%#= form_tag employees_path, :method => :get do %>
  <p>
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag "Search", :name => nil %>
  </p>
<%# end %> -->


<form class="form-inline my-2 my-lg-0" action="/search">
  <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>




  <div class="table table-responsive mb-5 mt-4"> 
    <div class="indextable">
      <table class="table table-hover"> 
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Payroll</th>
            <th> Job Role</th>
            <!-- <th>Telephone</th> -->
            <th class="text-center">Clock In</th>
            <!-- <th>Status</th> -->
            <th>Clocked At</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <%= render @employees %>
        </tbody>
      </table>
    </div>
  </div>
</div>








<!-- FROM HERE -->

<!-- To Be refined, close to a good solution for toggling label. Missing puttin it together 
<input type="checkbox" id="my-checkbox" onclick="ChangeCheckboxLabel(this)"> 
<span id="my-checkbox-checked" style="display:inline; font-weight:bold; color:blue;">Show Instructions</span>
<span id="my-checkbox-unchecked" style="display:none; font-style:italic; ; color:red;">Hide Instructions</span>


Antonio : IT GOES TOGETHER WITH CODE BELOW 
-->
<!-- <script>
function ChangeCheckboxLabel(ckbx)
{
   var d = ckbx.id;
   if( ckbx.checked )
   {
      document.getElementById(d+"-checked").style.display = "inline";
      document.getElementById(d+"-unchecked").style.display = "none";
   }
   else
   {
      document.getElementById(d+"-checked").style.display = "none";
      document.getElementById(d+"-unchecked").style.display = "inline";
   }
}
</script> -->

<!-- TO HERE -->





<!-- <div class="newadded mb-5">
  <h1> New added </h1>

</div> -->


