<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Surname</Data></Cell>
        <Cell><Data ss:Type="String">Payroll</Data></Cell>
        <Cell><Data ss:Type="String">Job Role</Data></Cell>
        <Cell><Data ss:Type="String">Telephone</Data></Cell>
        <Cell><Data ss:Type="String">Clocked In</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
        <Cell><Data ss:Type="String">Clocked At</Data></Cell>
      </Row>
    <% @employees.each do |employee| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= employee.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= employee.surname %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= employee.payrole %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= employee.telephone %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= employee.clocked_in %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= employee.status %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= employee.clocked_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

