<p id="notice"><%= notice %></p>

<h1 class="contractorsTitle">Contractors</h1>

<H3 class="contractorsTitle">Date : <%= DateTime.now.strftime('%m - %B- %y')%> </H3> 

<div class="my-5">  
  <h3>Import Contractors</h2>
    <div class="my-4">
      <%= form_tag import_employees_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import Contractors" %>
      <% end %>
    </div>
</div>

<hr class='my-5'>

<div class="marginBottom">
  <%= link_to 'New Employee', new_employee_path, id: "new_link", remote: true %>
</div>


<div class="table table-responsive mb-5 mt-4"> 
  <div class="indextable">
    <table class="table table-hover"> 
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Payroll</th>
          <th> Job Role</th>
          <th>Telephone</th>
          <th>Clock In</th>
          <th>Status</th>
          <th>Clocked At</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @employees %>
      </tbody>
    </table>
  </div>
</div>

<div class="newadded mb-5">
  <h1> New added </h1>

</div>

