<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name.titleize %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname.titleize %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.role.titleize  %>
</p>

<p>
  <strong>Payroll:</strong>
  <%= @employee.payroll.titleize  %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @employee.telephone %>
</p>

<p>
  <strong>Clock In:</strong>
  <%= @employee.clocked_in == false ? 'No' : 'Yes'  %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status.titleize %>
</p>

<p>
  <strong>Clocked At:</strong>
  <%= @employee.clocked_at %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
